* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.verb-container, .noun-container {
  width: 90%;
  margin: 0 auto;
}

fieldset,
select {
  border: none;
}

small {
  color: hsl(0deg, 0%, 51%);
}

.dark-bg {
  background-color: hsl(0deg, 0%, 2%);
}

.paragraph-dark {
  color: white;
}

.search-CTA {
  display: flex;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
}
.search-CTA p {
  font-size: 1.125rem;
}

.label-dark {
  color: white;
}

.label-accent {
  color: hsl(274deg, 82%, 60%);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.line {
  height: 1px;
  display: inline-block;
  width: 80%;
  background: hsl(0deg, 0%, 91%);
}

.form-container {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg, 0%, 96%);
}
.form-container input {
  background-color: transparent;
  border: none;
  height: 3rem;
  width: 100%;
  padding-left: 1.5rem;
}
.form-container input:-webkit-autofill:hover {
  background-color: transparent;
}
.form-container .search-btn {
  background: transparent;
  border: none;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.form-container.search-dark {
  background-color: hsl(0deg, 0%, 12%);
}
.form-container.search-dark input {
  color: white;
}

.word-pronunciation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.9375rem;
}
.word-pronunciation__container {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
.word-pronunciation__container__phonetics {
  color: hsl(274deg, 82%, 60%);
  letter-spacing: 0.0625rem;
  font-size: 1.125rem;
}

.noun-container h3 {
  padding-bottom: 1.9375rem;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 1.1875rem;
}
.noun-container__list {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  padding-top: 1rem;
}
.noun-container__list li {
  line-height: 1.5rem;
}
.noun-container .synonym-container {
  padding-top: 1.5rem;
  padding-bottom: 1.9375rem;
}

.state-selections {
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-selections .switch-container {
  display: flex;
  align-items: center;
}

.noun-container .dark {
  color: white;
}
.noun-container__list .dark {
  color: white;
}

.verb-container h3 {
  padding-bottom: 2rem;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 1.1875rem;
}
.verb-container__list {
  padding-top: 1.0625rem;
}
.verb-container .example-container {
  padding-top: 0.8125rem;
}
.verb-container .example-container q {
  color: hsl(0deg, 0%, 51%);
}

.verb-container .dark {
  color: white;
}
.verb-container__list .dark {
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid hsl(0deg, 0%, 91%);
  margin-top: 2rem;
  padding-bottom: 5.3125rem;
}
.footer-container p {
  padding-top: 1.5rem;
}

@media only screen and (min-width: 375px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  .word-pronunciation__container__term {
    font-size: 2rem;
    color: hsl(0deg, 0%, 18%);
  }
  .word-pronunciation__container__term.dark {
    color: white;
  }
  .noun-container h3 {
    font-size: 1.125rem;
  }
  .noun-container small {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .word-pronunciation__container__term {
    font-size: 4rem;
  }
  .word-pronunciation__container__phonetics {
    font-size: 1.5rem;
  }
  .noun-container h3 {
    font-size: 1.5rem;
  }
  .noun-container small {
    font-size: 1.25rem;
  }
  .noun-container li {
    font-size: 1.125rem;
  }
  .noun-container .synonym-container p {
    font-size: 1.25rem;
  }
  .verb-container h3 {
    font-size: 1.5rem;
  }
  .verb-container small {
    font-size: 1.25rem;
  }
  .verb-container__list {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    width: 50%;
  }
  .word-pronunciation__container__term {
    font-size: 4rem;
  }
}/*# sourceMappingURL=index.css.map */